# 'NW_Uninstall:GENERIC.IND.PD'
NW_System_Uninstall.completeSystem = false
NW_System_Uninstall.instanceNumberList = {{ uninsappsvr_input_initfile_NW_System_instanceNumber }}
NW_readProfileDir.profileDir = /usr/sap/{{ uninsappsvr_input_sap_sid }}/SYS/profile
NW_uninstallDB.uninstallDB = false
